@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap");

:root {
  --light-muted-purple: #6666ff;
  --white: #ffffff;
  --middle-muted-orange: #ee7759;
}

/* Center the "Features" component vertically */
.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Vertically center content */
}

.text-h1 {
  text-align: center;
  max-width: 750px; /* Use max-width to limit the text width */
  margin-left: 300px;
  margin-top: 50px;
}

.text-h1 span {
  color: var(--middle-muted-orange);
}

.col1 button {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  color: rgb(238, 119, 89);
  background-color: rgb(255, 219, 215);
  border-radius: 10px;
  font-size: 13px;
}

.feature-img {
  margin-left: 140px;
}

.col1 {
  text-align: center;
}

.col1 h4 {
  font-size: 28px;
  font-family: Poppins, "sans-serif";
  font-weight: 600;
  margin-bottom: 20px;
}

.col1 p {
  font-family: Poppins, "sans-serif";
  font-size: 18px;
  width: 100%; /* Adjusted for responsiveness */
  font-weight: 450;
}

.col1 p span {
  color: var(--middle-muted-orange);
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.user-details h4 {
  font-size: 20px;
}

.user-details p {
  font-size: 13px;
  margin-top: -18px;
}

@media (max-width: 767px) {
  .container {
    margin-top: -300px;
  }

  .text-h1 {
    margin-left: 60px;
    font-size: 28px;
    width: 400px;
  }

  .feature-img {
    margin-left: 0;
    width: 400px;
    height: 350px;
    margin-left: 60px;
  }

  .col1 {
    padding: 20px; /* Add padding for better mobile view */
  }

  .user-profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .btn3 {
    position: relative;
    right: 140px;
  }
  .col1 h4 {
    width: 500px;
    font-size: 21px;
    right: 20px;
    position: relative;
  }
  .col1 p {
    font-size: 15px;
    width: 340px;
    margin-left: 70px;
    text-align: center;
  }

  .avatar {
    position: relative;
    right: 140px;

  }

  .user-details{
    position: relative;
    bottom: 70px;
    left: 20px;
    text-align: center;
  }
  .user-details h4{
    font-size: 17px;
    position: relative;
    right: 55px;
  }
  .user-details p{
    position: relative;
    right: 12px;
    font-size: 12px;
  }
}
