/* Default styles for cards */

.container {
  margin-top: 150px;
}

.card {
  border: 1px solid rgb(253, 249, 249);
  margin-top: 20px !important;
}

.card-title {
  color: rgb(179, 179, 179) !important;
  position: relative;
  left: 50px;
}

/* Media query for small screens (up to 576px) */

