.con-4-1 {
  margin-top: 100px;
}

.img-log1 {
  margin-top: 30px !important;
}
.col-1 {
  position: relative;
  bottom: 200px;
  margin-right: 60px;
  left: 70px;
}
.col-p {
  line-height: 50px;
  font-weight: 500;
  font-size: 18px;
  margin-left: 200px;
}
.col-p1 {
  line-height: 50px;
  font-weight: 500;
  font-size: 18px;
  margin-left: 20px;
}

.footer-h4 {
  font-size: 15px;
  margin-left: 340px;
  font-weight: 450;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 30px;
  position: relative;
  right: 200px;
}
.img-logo2 {
  position: relative;
  left: 140px;
}

.grey-horizontal-line {
  border-top: 1px solid rgb(220, 220, 220);
  width: 80%;
}

.inc {
  color: gray;
  font-weight: 700;
  font-size: 15px;
  margin-top: 20px;
  position: relative;
  right: 490px;
}

@media (max-width: 768px) {
  .con-4-1 {
    margin-top: 50px; /* Adjust as needed */
  }

  .col-1 {
    bottom: 0;
    margin-right: 0;
    left: 0;
    width: 80px;
    position: relative;
    left: 30px;
    text-align: center;
  }

  .col-1 img {
    width: 50px; /* Adjust the width for mobile screens */
  }

  .col-p,
  .col-p1 {
    margin-left: 0;
  }
  .img-logo2 {
    margin-top: 50px !important;
    width: 150px;
    margin-left: 40px;
  }

  .footer-h4 {
    margin-left: 40px;
    right: 0;
    font-size: 15px; /* Decrease font size for mobile screens */
    line-height: 24px; /* Adjust line height for better readability */
    margin-top: 10px; /* Adjust margin for better spacing */
    position: static; /* Remove the relative positioning */
    width: 300px;
  }

  .img-logo2 {
    left: 0;
    margin-top: 10px; /* Adjust margin for better spacing */
  }

  .grey-horizontal-line {
    width: 100%;
  }

  .inc {
    right: 0;
  }
  .img-hap {
    width: 70px;
    margin-top: 10px !important;
  }
  .col-p p,
  .col-p1 p {
    font-size: 15px !important;
    line-height: 30px !important;
    margin-left: 30px;
    margin-top: 20px;
  }
}
